* {
    margin: 0px;
    padding: 0px;
}

html {
    height: 100%;
}

body {
    text-size-adjust: none;
    background: #FFF;
    font-family: 'Roboto', sans-serif;
    letter-spacing: .3px;
}

img { border: none; text-decoration: none; }
img a { border: none; text-decoration: none;}
img a:hover { text-decoration: none; }
fieldset {border: 0;}
ul { margin: 0px; padding: 0px; list-style: none;}
.clear {clear: both;}

::-webkit-input-placeholder { color: #d8d5db; font-weight: 400; }
::-moz-placeholder { color: #d8d5db; font-weight: 400;}
:-ms-input-placeholder { color: #d8d5db; font-weight: 400;}
:-moz-placeholder { color: #d8d5db; font-weight: 400; }

.content {
    margin: 0 auto;
    max-width: 1080px;
    min-width: 320px;
}

/************************/

.radius200{
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    border-radius: 200px;
}

.textNoWrap{white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}

/************************/

.captionMenu{ background: #2c1445; color: #fdfffe; display: grid; grid-template-columns: 1fr; text-align: center; font-size: 22px; position: relative; }
.captionMenu .arrowBack{ position: absolute; top: 4px; left: 20px; background: url("../img/arrow_back.png") no-repeat; width: 25px; height: 25px; cursor: pointer; }

/****************/

.arrowCat{ background: url("../img/arrow_cat.png") no-repeat center; width: 14px; height: 23px; display: block; }

/****************/

.main {
    grid-area: main;
    background-color: #fff;
    color: #312E35;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 75px 1fr 50px;
    grid-template-areas:
            'header'
            'main'
            'footer';
    height: 100vh;
}

/****************/

.header {
    grid-area: header;
    background-color: #2c1445;
    color: #fdfffe;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    font-size: 20px;
    padding: 22px 0px;
    position: relative;
}

.header .boxAllTasks{
    display: grid;
    grid-template-columns: 50px 1fr 50px 50px;
    padding-right: 20px;
}

.header .boxAllTasks.oneText{ grid-template-columns: 50px 1fr; }

.header .boxAllTasks .batMenu{ color: #a78fd0; position: relative; cursor: pointer; text-align: center; }
.header .boxAllTasks .batMenu:hover{ color: #FFF; }
.header .boxAllTasks .batMenu p{ position: absolute; width: 14px; height: 14px; top: 0px; right: 9px; background: #e57f02; }

.header .boxAllTasks span.ico, span.icoSvg{
    width: 24px;
    height: 24px;
    display: block;
    cursor: pointer;
    margin: 3px auto;
    background-color: #a78fd0;
}

.header .boxAllTasks span.ico:hover{ background-color: #FFF; }
.header .boxAllTasks .batCategory span.settings{ -webkit-mask-image: url(../img/settings.svg); mask-image: url(../img/settings.svg); }
.header .boxAllTasks .batMap span.map{ -webkit-mask-image: url(../img/map.svg); mask-image: url(../img/map.svg); }
.header .boxAllTasks .batMenu span.menu{ -webkit-mask-image: url(../img/menu.svg); mask-image: url(../img/menu.svg);}
.header .boxAllTasks .batMenu span.arrowLeft{ -webkit-mask-image: url(../img/arrow_left.svg); mask-image: url(../img/arrow_left.svg); position: relative; top: 1px;}
.header .boxAllTasks span.share{ -webkit-mask-image: url(../img/share.svg); mask-image: url(../img/share.svg);}
.header .boxAllTasks span.options{ -webkit-mask-image: url(../img/options.svg); mask-image: url(../img/options.svg);}
.header .boxAllTasks span.more{ -webkit-mask-image: url(../img/more.svg); mask-image: url(../img/more.svg);}
.header .boxAllTasks span.heart{ -webkit-mask-image: url(../img/heart.svg); mask-image: url(../img/heart.svg);}

span.icoSvgClose{ -webkit-mask-image: url(../img/close.svg); mask-image: url(../img/close.svg); background-color: #FFF;}
span.icoSvgArrowWhite{ -webkit-mask-image: url(../img/light_arrow.svg); mask-image: url(../img/light_arrow.svg); background-color: #FFF;}

.header .boxAllTasks .batName{ margin-top: -8px; position: relative; left: 33px; }
.header .boxAllTasks .batName p{ color: #a78fd0; font-size: 14px; }

.header .boxAllTasks .batText{ padding-top: 1px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

.header .boxAllTasks .batSearch{ text-align: center; margin-top: -2px; }
.header .boxAllTasks .batSearch input[type="text"]{
    width: 96%;
    padding: 10px 20px;
    background: #482275;
    border: none;
    margin-top: -3px;
    outline: none;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}
.header .boxAllTasks .batSearch input[type="text"]:focus{ background: #FFF; }

.header .boxAllTasks .batSearch input[type="text"]::-webkit-input-placeholder { color: #a888d9;}
.header .boxAllTasks .batSearch input[type="text"]::-moz-placeholder { color: #a888d9;}
.header .boxAllTasks .batSearch input[type="text"]:-ms-input-placeholder { color: #a888d9;}
.header .boxAllTasks .batSearch input[type="text"]:-moz-placeholder { color: #a888d9;}

@media only screen and (max-width: 1300px) { .header .boxAllTasks .batSearch input[type="text"]{ width: 92%; } }
@media only screen and (max-width: 870px) { .header .boxAllTasks .batSearch input[type="text"]{ width: 90%; } }
@media only screen and (max-width: 550px) { .header .boxAllTasks .batSearch input[type="text"]{ width: 80%; } }
@media only screen and (max-width: 450px) { .header .boxAllTasks .batSearch input[type="text"]{ width: 75%; } }

/****************/

.category{ display: grid; grid-template-columns: 1fr; margin-top: 4px; }
.category li{ display: grid; grid-template-columns: 50px 1fr 20px; border-bottom: 1px solid #f0eff4; padding: 15px 20px 13px; cursor: pointer; position: relative; }
.category li .pointer{ background: #ffbd2c; width: 14px; height: 14px; position: absolute; top: 20px; left: 47px; }
.userCardInfo .category li{ grid-template-columns: 37px 1fr 20px; }

.category li .name{ font-size: 18px; color: #48444b; padding: 13px 20px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.category li .name.double{ margin-top: -13px; padding-bottom: 5px;}
.category li .name p{ font-size: 15px; color: #ffbd2c; padding: 3px 0px 0px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.category li .arrowCat{ margin: 13px auto;}

.icoCategory{ width: 50px; height: 50px; background: url("../img/ico_pattern_category.png") no-repeat center; }
.icoCategoryUser{ width: 40px; height: 40px; background: url("../img/ico_pattern_category_two.png") no-repeat center; margin: 0 auto; display: block; }
.icoCategory.ico_01{ background-position: 0px 0px; }
.icoCategory.ico_02{ background-position: 0px -54px; }
.icoCategory.ico_03{ background-position: 0px -109px; }
.icoCategory.ico_04{ background-position: 0px -165px; }
.icoCategory.ico_05{ background-position: 0px -224px; }
.icoCategory.ico_06{ background-position: 0px -280px; }
.icoCategory.ico_07{ background-position: 0px -337px; }
.icoCategory.ico_08{ background-position: 0px -393px; }
.icoCategory.ico_09{ background-position: 0px -451px; }
.icoCategory.ico_10{ background-position: 0px -508px; }
.icoCategory.ico_11{ background-position: 0px -566px; }
.icoCategory.ico_12{ background-position: 0px -623px; }
.icoCategory.ico_13{ background-position: 0px -681px; }
.icoCategory.ico_14{ background-position: 0px -739px; }
.icoCategory.ico_15{ background-position: 0px -796px; }
.icoCategory.ico_16{ background-position: 0px -855px; }

.icoCategoryUser.ico_01{ background-position: -3px 3px; }
.icoCategoryUser.ico_02{ background-position: -3px -36px; }
.icoCategoryUser.ico_03{ background-position: -3px -76px; }
.icoCategoryUser.ico_04{ background-position: -3px -115px; }
.icoCategoryUser.ico_05{ background-position: -3px -153px; }
.icoCategoryUser.ico_06{ background-position: -3px -199px; }
.icoCategoryUser.ico_06{ background-position: -3px -199px; }
.icoCategoryUser.ico_06{ background-position: -3px -199px; }
.icoCategoryUser.ico_09{ background-position: -3px -307px; }
.icoCategoryUser.ico_10{ background-position: -3px -350px; }
.icoCategoryUser.ico_11{ background-position: -3px -385px; }
.icoCategoryUser.ico_12{ background-position: -1px -455px; }
.icoCategoryUser.ico_13{ background-position: -1px -501px; }
.icoCategoryUser.ico_14{ background-position: -1px -545px; }
.icoCategoryUser.ico_like{ background-position: -10px -234px; }
.icoCategoryUser.ico_dislike{ background-position: -10px -265px; }
.icoCategoryUser.ico_keys{ background-position: -1px -586px; }
.icoCategoryUser.icoMsg{ background-position: -3px -714px; }
.icoCategoryUser.icoCall{ background-position: -3px -760px; }

/**********************************/

.main-header{
    background: #ffffff;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    margin-top: 5px;
    position: relative;
}
.main-header .line, .boxTaskCard .line{ background: #eae7f2; width: 100%; height: 2px; position: absolute; bottom: 0px; left: 0px; }
.main-header .tab, .boxTaskCard .tab{ padding: 15px 0px; font-weight: 500; letter-spacing: .5px; color: #a8a5ab; font-size: 15px; cursor: pointer; position: relative; z-index: 2; }
.main-header .tab, .boxTaskCard .tab span{color: #fea200; }
.main-header .tab.active, .boxTaskCard .tab.active{ color: #464548; border-bottom: 2px solid #ffbd2c; }

.boxTaskCard .tabs{ background: #ffffff; display: grid; grid-template-columns: 1fr 1fr; text-align: center; margin: 25px 20px 0px; position: relative; }
.boxTaskCard .toggle{ padding: 0px 0px; }

/**********************************/

.allTaskSection{}
.allTaskSection .atUl{ display: grid; grid-template-columns: 1fr; height: auto; margin: 20px;  }
.allTaskSection .atUl li{
    border-bottom: 1px solid #f5f4f7;
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-column-gap: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.allTaskSection .atUl li:last-child{ border-bottom: none; }

.allTaskSection .atUl li .title{ font-size: 17px; font-weight: 500; color: #323136; margin-bottom: 5px; }
.allTaskSection .atUl li .adress{ font-size: 14px; color: #959499; margin: 5px 0px; }
.allTaskSection .atUl li .timeStart{ font-size: 14px; color: #959499; font-weight: 500; }
.allTaskSection .atUl li .price{ font-size: 17px; color: #323136; font-weight: 500; margin-top: 10px; display: flex; }
.allTaskSection .atUl li .cardIco { background-image: url(/img/card.svg); width: 20px; height: 20px; background-size: cover; display: block; margin-left: 15px;}

.toggle .panels .panel {display: none;}
.toggle .panels .panel:first-child {display: block;}

/**********************************/

.boxUserSection{ width: 100%; overflow: hidden; height: auto; }

.boxUserCard{
    position: relative;
    z-index: 2;
    background: rgba(44,20,69,1);
    background: -moz-linear-gradient(top, rgba(44,20,69,1) 0%, rgba(71,34,117,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(44,20,69,1)), color-stop(100%, rgba(71,34,117,1)));
    background: -webkit-linear-gradient(top, rgba(44,20,69,1) 0%, rgba(71,34,117,1) 100%);
    background: -o-linear-gradient(top, rgba(44,20,69,1) 0%, rgba(71,34,117,1) 100%);
    background: -ms-linear-gradient(top, rgba(44,20,69,1) 0%, rgba(71,34,117,1) 100%);
    background: linear-gradient(to bottom, rgba(44,20,69,1) 0%, rgba(71,34,117,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c1445', endColorstr='#472275', GradientType=0 );
}

.boxUserCard .avatarBox{ display: grid; grid-template-columns: 1fr 1fr 1fr;}
.boxUserCard .orderBox{ text-align: center; color: #fffffe; font-size: 26px; font-weight: 500; padding: 100px 0px 30px;}
.boxUserCard .orderBox p{ color: #f3ecf7; font-size: 14px; margin-top: 5px; font-weight: normal; }

.boxUserCard .avatar{ text-align: center; padding: 50px 0px 25px; }
.boxUserCard .avatar img{width: 150px;}

.boxUserCard .greenBox{ margin: 0px 0px 20px;}
.boxUserCard .greenBox p{ width: 290px; margin: 0px auto; color: #63a449; border: 2px solid #63a449; text-align: center; font-size: 14px; padding: 10px 7px; cursor: pointer; }

.boxUserCard .sertBox{ margin: 0px 0px 0px;}
.boxUserCard .sertBox ul{ display: grid; grid-template-columns: 1fr 1fr 1fr; text-align: center; width: 300px; margin: 0 auto; padding-bottom: 20px; }

.doubCircle{
    width: 110%;
    background: #472275;
    height: 100px;
    border-radius: 50%;
    position: relative;
    top: -50px;
    left: -5%;
    z-index: 1;
}

.userCardInfo{ margin-top: -40px; }
.userCardInfo .boxInfo{ margin-bottom: 40px; margin-top: 20px; }
.userCardInfo .capt { font-size: 30px; font-weight: 600; color: #302d34; display: grid; grid-template-columns: auto 1fr; }
.userCardInfo .capt .icoCategoryUser { margin: 1px 0px 10px 5px; height: 30px; }
.userCardInfo .capt .number { color: #ffbd2c; padding-left: 7px; }

.userCardInfo .aboutMe{ padding: 20px; }
.userCardInfo .aboutMe p{ color: #a098a8; font-size: 17px; padding: 3px; }

.userCardInfo .boxNumber{ }
.userCardInfo .boxNumber ul{ margin-top: 15px; }
.userCardInfo .boxNumber ul li{ display: grid; grid-template-columns: 1fr 1fr; padding: 7px 3px; font-size: 17px; color: #3c383f; }
.userCardInfo .boxNumber ul li .star_05{ background: url("/img/star_sprite.png"); width: 119px; height: 20px; background-position: 0px 0px; }
.userCardInfo .boxNumber ul li .star_04{ background: url("/img/star_sprite.png"); width: 119px; height: 20px; background-position: 0px -29px; }
.userCardInfo .boxNumber ul li .star_03{ background: url("/img/star_sprite.png"); width: 119px; height: 20px; background-position: 0px -56px; }
.userCardInfo .boxNumber ul li .star_02{ background: url("/img/star_sprite.png"); width: 119px; height: 20px; background-position: 0px -83px; }
.userCardInfo .boxNumber ul li .star_01{ background: url("/img/star_sprite.png"); width: 119px; height: 20px; background-position: 0px -110px; }

.userCardInfo .boxReviews{ padding-top: 40px; }
.userCardInfo .boxReviews .capt { grid-template-columns: 150px 65px 65px; }
.userCardInfo .boxReviews .capt .likeReview{ background: url("/img/ico_pattern_category_two.png") no-repeat left; background-position: -10px -234px; padding-left: 32px; padding-top: 4px; color: #65bd4e; font-size: 24px; }
.userCardInfo .boxReviews .capt .dislikeReview{ background: url("/img/ico_pattern_category_two.png") no-repeat left; background-position: -10px -265px; padding-left: 32px; padding-top: 4px; color: #bdb5c2; font-size: 24px; }
.userCardInfo .boxReviews .text{ font-size: 17px; padding: 10px 3px; line-height: 24px; }
.userCardInfo .boxReviews .text p{ padding-top: 7px; }
.userCardInfo .boxReviews .more{ border: 1px solid #d4d3d7; color: #66606b; width: 190px; font-size: 15px; text-align: center; padding: 8px 5px; margin-top: 5px; cursor: pointer; }

.userCardInfo .boxWork{ padding-top: 40px; }
.userCardInfo .boxWork ul{ margin-top: 10px; }
.userCardInfo .boxWork ul li{ padding: 10px 3px; font-size: 18px; }
.userCardInfo .boxWork ul li p{ padding: 3px 0px; }

.userCardInfo .boxCheck {padding-top: 40px; }
.userCardInfo .boxCheck ul {margin-top: 15px; }
.userCardInfo .boxCheck ul li { display: grid; grid-template-columns: 40px 1fr; padding: 7px 3px; font-size: 17px; color: #3c383f; grid-column-gap: 20px; }
.userCardInfo .boxCheck ul li p{ padding: 2px 0px; font-size: 14px;}
.userCardInfo .boxCheck ul li span.text{ padding: 9px 0px;}

/**********************************/

.boxTaskCard{}
.boxTaskCard .check{ display: grid; grid-template-columns: 1fr 65px; color: #ff5e5e; font-weight: 500; padding: 25px 20px 20px; }
.boxTaskCard .check .ico{ background: url("/img/ico_pattern_category_two.png") no-repeat left; background-position: -10px -430px; padding-left: 32px; color: #b4aeba; }

.boxTaskCard .name{ color: #302d33; font-weight: 600; font-size: 24px; padding: 0px 20px; }
.boxTaskCard .name p{ padding-top: 10px; }

.boxTaskCard .mapGoogle{ overflow: hidden; margin: 25px 20px 35px; height: 170px; -webkit-border-radius: 20px; -moz-border-radius: 25px; border-radius: 25px; }

.boxTaskCard .description{ border-top: 1px solid #d4d3d7; padding: 25px 0px; margin: 0px 20px; font-size: 17px; color: #3c383f;}
.boxTaskCard .description p{ color: #a098a8; padding-bottom: 5px; }
.boxTaskCard .description ul li{ display: grid; grid-template-columns: 40px 1fr 40px; padding-bottom: 10px;}
.boxTaskCard .description ul li:last-child{ padding-bottom: 0px;}
.boxTaskCard .description ul li span.text{ padding: 8px 10px; }

.boxTaskCard .boxReviews{ border-top: 20px solid #f6f5fa; padding:  20px; }
.boxTaskCard .boxReviews .capt{ display: grid; grid-template-columns: 50px 1fr; font-size: 24px; color: #302d33; font-weight: 600; }
.boxTaskCard .boxReviews .capt .text{ padding-top: 4px; color: #302d33; }

.boxTaskCard .boxReviews .ava{ margin-top: 30px; display: grid; grid-template-columns: 100px 1fr; grid-column-gap: 20px; }
.boxTaskCard .boxReviews .ava .photo{ width: 100px; }
.boxTaskCard .boxReviews .ava .photo img{ width: 100%; }

.boxTaskCard .boxReviews .ava .name{ font-size: 22px; font-weight: 500; margin-top: 22px;}

.boxTaskCard .boxReviews .ava .like, .boxTaskCard .avatarInfo .like{ margin-top: 5px; }
.boxTaskCard .boxReviews .ava .like .likeReview, .boxTaskCard .avatarInfo .like .likeReview{ background: url("/img/ico_pattern_category_two.png") no-repeat left; background-position: -10px -238px; padding-left: 32px; padding-top: 4px; color: #bdb5c2; font-size: 18px; margin-right: 10px; }
.boxTaskCard .boxReviews .ava .like .dislikeReview, .boxTaskCard .avatarInfo .like .dislikeReview{ background: url("/img/ico_pattern_category_two.png") no-repeat left; background-position: -10px -269px; padding-left: 32px; padding-top: 4px; color: #bdb5c2; font-size: 18px; }

.boxTaskCard .boxReviews .textReviews{ margin: 20px 0px; padding: 20px 0px; border-top: 1px solid #d4d3d7; border-bottom: 1px solid #d4d3d7;}
.boxTaskCard .boxReviews .textReviews p{ color: #3c383f; font-size: 17px; }
.boxTaskCard .boxReviews .textReviews ul{ margin-top: 15px; }
.boxTaskCard .boxReviews .textReviews ul li{ display: grid; grid-template-columns: 1fr 1fr; padding: 7px 3px; font-size: 17px; color: #a09aa3; }
.boxTaskCard .boxReviews .textReviews ul li .star_05{ background: url("/img/star_sprite.png"); width: 119px; height: 20px; background-position: 0px 0px; }
.boxTaskCard .boxReviews .textReviews ul li .star_04{ background: url("/img/star_sprite.png"); width: 119px; height: 20px; background-position: 0px -29px; }
.boxTaskCard .boxReviews .textReviews ul li .star_03{ background: url("/img/star_sprite.png"); width: 119px; height: 20px; background-position: 0px -56px; }
.boxTaskCard .boxReviews .textReviews ul li .star_02{ background: url("/img/star_sprite.png"); width: 119px; height: 20px; background-position: 0px -83px; }
.boxTaskCard .boxReviews .textReviews ul li .star_01{ background: url("/img/star_sprite.png"); width: 119px; height: 20px; background-position: 0px -110px; }
.boxTaskCard .boxReviews .dateReviews{ color: #a09aa3; text-align: right; font-size: 16px }

.boxTaskCard .captSmall{ color: #302d35; display: grid; grid-template-columns: 1fr 40px; padding: 20px; }
.boxTaskCard .captSmall .text{ font-size: 18px; font-weight: 500; padding-top: 7px; }

.boxTaskCard .avatarInfo{ display: grid; grid-template-columns: 100px 1fr; padding: 20px; border-top: 2px solid #eae9ee; margin-top: 20px; }
.boxTaskCard .avatarInfo .nameAva{ padding-left: 10px; margin-top: 3px; position: relative; }
.boxTaskCard .avatarInfo .nameAva .ico_keys{ position: absolute; right: 0px; top: 0px;}
.boxTaskCard .avatarInfo .fio{ font-size: 22px; font-weight: 500; margin-bottom: 10px; }
.boxTaskCard .avatarInfo .status{ font-size: 14px; font-weight: 500; color: #70c728; margin-top: 10px; background: url("/img/ico_pattern_category_two.png") no-repeat left; padding: 3px 0px; background-position: -10px -642px; padding-left: 26px; }
.boxTaskCard .priceDescriptionInfo{ margin: 0px 20px; border-top: 1px solid #d4d3d7; border-bottom: 1px solid #d4d3d7; }
.boxTaskCard .priceDescriptionInfo .price{ display: grid; grid-template-columns: 1fr 40px; padding: 20px 0px; }
.boxTaskCard .priceDescriptionInfo .price span.text{ font-size: 22px; font-weight: 600; padding-top: 6px; }
.boxTaskCard .priceDescriptionInfo .price span.text i.priceIcon{ background: url("/img/ico_pattern_category_two.png") no-repeat; background-position: -4px -678px; vertical-align: middle; width: 35px; height: 30px; display: inline-block; }
.boxTaskCard .priceDescriptionInfo .price span.text p{ font-size: 14px; font-weight: 400; color: #a098a8; }
.boxTaskCard .priceDescriptionInfo .descriptionTask{ color: #3c383f; font-size: 17px; }
.boxTaskCard .priceDescriptionInfo .buttonCall{ width: 320px; margin: 20px auto; display: grid; grid-template-columns: 1fr 1fr; text-align: left; grid-column-gap: 10px; color: #5f5867; font-size: 18px; font-weight: 500;}
.boxTaskCard .priceDescriptionInfo .buttonCall div{ display: grid; cursor: pointer; grid-template-columns: 40px 1fr; grid-column-gap: 10px; }
.boxTaskCard .priceDescriptionInfo .buttonCall span.text{ padding: 9px 0px; }
.boxTaskCard .priceDescriptionInfo .order{ background: #70c728; color: #FFF; font-weight: 500; font-size: 20px; text-align: center; padding: 20px 0px; margin-bottom: 20px; cursor: pointer; }
.boxTaskCard .dateReviewsPred{ color: #a09aa3; text-align: right; font-size: 16px; padding: 20px; }
.boxTaskCard .editButton{ border-top: 20px solid #f6f5fa; background: #fea200; text-align: center; color: #FFF; font-size: 22px; font-weight: 500; padding: 20px 0px; cursor: pointer; }

/**********************************/

.personalInfoUser{ padding: 20px; }
.personalInfoUser form{ width: 100%; }
.personalInfoUser form .photo{ width: 200px; margin: 0 auto }
.personalInfoUser form .photo .ava{ width: 100%; }
.personalInfoUser form .photo .ava img{ width: 100%; }
.personalInfoUser form .photo .btnUpload{ text-align: center; color: #3c383f; width: 200px; font-size: 15px; border: 1px solid #d8d5db; padding: 10px 0px; margin: 10px 0px; cursor: pointer; }
.personalInfoUser form .input{ margin-top: 0px; }
.personalInfoUser form .input .inp{ margin-bottom: 30px; }
.personalInfoUser form .input .inp p{ font-size: 16px; color: #a09aa3; font-weight: 400 }
.personalInfoUser form .input .inp input[type="text"],
.personalInfoUser form .input .inp input[type="date"]
{ border: none; letter-spacing: .3px; border-bottom: 1px solid #d8d5db; width: 100%; padding: 12px 0px 14px; outline: none; font-family: 'Roboto', sans-serif; font-size: 20px; color: #302d32; font-weight: 500; }
.personalInfoUser form input[type="file"]{height: 1px; opacity: .000001;}

.personalInfoUser form .input .inp input[type="text"].city,
.personalInfoUser form .input .inp input[type="text"].phone
{ background: url("../img/arrow_cat.png") center right no-repeat; background-size: 3%; }

.personalInfoUser form .input .selectGen{}
.personalInfoUser form .input .selectGen ul{ display: grid; grid-template-columns: 1fr 1fr; text-align: center; border: 1px solid #d8d5db; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
.personalInfoUser form .input .selectGen ul li{ padding: 15px 0px; font-size: 17px; color: #a59eac; font-weight: 500; }
.personalInfoUser form .input .selectGen ul li.active{ background: #ffebae; color: #302d32; }

.deletePage{ border-top: 20px solid #f6f5fa; padding:  30px 0px; text-align: center; }
.deletePage a{ color: #aa98d8; text-decoration: none; font-size: 17px; font-family: 'Roboto', sans-serif; }

    /**********************************/

.alertBox{
    color: #FFF;
    margin: 0px 20px;
    background: rgba(255,122,99,1);
    background: -moz-linear-gradient(left, rgba(255,122,99,1) 0%, rgba(255,137,63,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,122,99,1)), color-stop(100%, rgba(255,137,63,1)));
    background: -webkit-linear-gradient(left, rgba(255,122,99,1) 0%, rgba(255,137,63,1) 100%);
    background: -o-linear-gradient(left, rgba(255,122,99,1) 0%, rgba(255,137,63,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,122,99,1) 0%, rgba(255,137,63,1) 100%);
    background: linear-gradient(to right, rgba(255,122,99,1) 0%, rgba(255,137,63,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7a63', endColorstr='#ff893f', GradientType=1 );

    -webkit-border-radius: 20px;
    -moz-border-radius: 25px;
    border-radius: 25px;
}

.alertBox .caption{ padding: 20px 20px 15px; border-bottom: 1px solid #ff9c73; font-size: 17px; font-weight: 500; display: grid; grid-template-columns: 1fr 30px; }
.alertBox .caption .textCapt{padding: 3px 0px; }
.alertBox .caption .icoSvgClose{ margin: 0 auto; }
.alertBox .text{ padding: 20px 20px; font-size: 15px; font-weight: 400; display: grid; grid-template-columns: 1fr 30px; grid-column-gap: 12px }
.alertBox .text .icoSvgArrowWhite{ position: relative; top: 31%; }

/**********************************/

.sidenav {
    grid-area: sidenav;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 240px;
    position: fixed;
    overflow-y: auto;
    transform: translateX(-245px);
    transition: all .6s ease-in-out;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    z-index: 2; /* Needs to sit above the hamburger menu icon */
    background-color: #394263;
}

.sidenav.active {
    transform: translateX(0);
}

.sidenav__close-icon {
    position: absolute;
    visibility: visible;
    top: 8px;
    right: 12px;
    cursor: pointer;
    font-size: 20px;
    color: #ddd;
}

.sidenav__list {
    padding: 0;
    margin-top: 85px;
    list-style-type: none;
}

.sidenav__list-item {
    padding: 20px 20px 20px 40px;
    color: #ddd;
}

.sidenav__list-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

/**********************************/

.footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    background-color: #648ca6;
}

/* Non-mobile styles, 750px breakpoint */
@media only screen and (min-width: 46.875em) {
    /* Show the sidenav */
    .grid-container {
        grid-template-columns: 240px 1fr;
        grid-template-areas:
                "sidenav header"
                "sidenav main"
                "sidenav footer";
    }

    .sidenav {
        position: relative;
        transform: translateX(0);
    }

    .sidenav__close-icon {
        visibility: hidden;
    }
}

/* Medium screens breakpoint (1050px) */
@media only screen and (min-width: 65.625em) {
    /* Break out main cards into two columns */
    .main-cards {
        column-count: 2;
    }
}