
.header__search {
  margin-left: 4px;
  font-family: Arial;
  font-size: 1.5em;
  position: absolute;
  top: 15px;
  left: 15px;
}

.main-header {
  grid-template-columns: 1fr 1fr;
  background-color: #e3e4e6;
  color: slategray;
  margin-top: 0px;
}

.tasks li  {
  display: grid;
  grid-template-rows: repeat(auto-fit);
}
.tasks li .body{
  display: grid;
  grid-template-columns: 50px 1fr 20px;
  border-bottom: 1px solid #f0eff4;
  padding: 15px 20px 13px;
  cursor: pointer;
  align-items: center;
}
.tasks li .name {
  font-size: 15px;
  color: #302d34;
}
.tasks li .name .status{
  font-size: 12px;
  color: #8e8b94;
  margin-top: 10px;
}
.task__title{
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
  margin-left: 20px;
}
.task__icon {
  width: 23px;
  height: 30px;
  display: block;
}
.icon_red {
  background: #dd5772 url("../img/pin.png") no-repeat center;
}
.icon_grey {
  background: #8e8b94 url("../img/pin.png") no-repeat center;
}
.icon_green {
  background: #88bd39 url("../img/pin.png") no-repeat center;
}

@media only screen and (min-width: 46.875em) {
    /* Show the sidenav */
    .header__search {
      display: none;
    }
  }
